@model UpdateTestimonialVM
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Referans Güncelleme</h4>
                <form action="UpdateBanner" method="post">
                    <input type="hidden" asp-for="TestimonialId" />
                    <div class="row">
                        <div class="form-group">
                            <label for="@Model.ImageUrl">Resim Url i</label>
                            <input asp-for="@Model.ImageUrl" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="@Model.Name">Müşteri Adı</label>
                            <input asp-for="@Model.Name" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="@Model.Title">Başlık</label>
                            <input asp-for="@Model.Title" type="text" class="form-control">
                        </div>                       
                        <div class="form-group">
                            <label for="@Model.Comment">Yorum</label>
                            <textarea rows="5" asp-for="@Model.Comment" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Referansı Kaydet">
                            <i class="feather-save"></i>
                        </button>
                        <a class="btn btn-light" asp-action="Index" data-toggle="tooltip" data-placement="bottom" title="Listeye Dön">
                            <i class="fas fa-list"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>