@model List<ResultAuthorVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4>Yazar Listesi</h4>
                    <button asp-area="Admin"
                            asp-controller="Author"
                            asp-action="CreateAuthorPartial"
                            type="button"
                            class="btn btn-primary waves-effect waves-light mb-2"
                            data-toggle="modal"
                            data-target="#exampleModalCenter">
                        <i class="mdi mdi-plus"></i>
                        Yeni Yazar Oluştur
                    </button>
                </div>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Fotoğraf URL</th>
                            <th>İsim Soyisim</th>
                            <th>Açıklama</th>
                            <th>Seçenekler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var author in Model)
                        {
                            <tr>
                                <td><img src="@author.ImageUrl" width="50" height="50" /></td>
                                <td>@author.Name</td>
                                <td>@author.Description</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <a asp-action="AuthorDetail" asp-route-id="@author.AuthorId" type="button" class="btn btn-outline-dark waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Detaylar Gör">
                                            <i class="mdi mdi-format-list-bulleted"></i>
                                        </a>
                                        <a asp-action="UpdateAuthor" asp-route-id="@author.AuthorId" type="button" class="btn btn-outline-warning waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Yazarı Güncelle">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a asp-action="RemoveAuthor" asp-route-id="@author.AuthorId" type="button" class="btn btn-outline-danger waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Yazarı Sil">
                                            <i class="mdi mdi-delete-outline"></i>
                                        </a>
                                        <a asp-controller="Blog" asp-action="GetBlogsOfAuthors" asp-route-id="@author.AuthorId" type="button" class="btn btn-outline-secondary waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Yazara Ait Bloglar">
                                            <i class="fas fa-angle-double-down"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="~/Areas/Admin/Views/Author/CreateAuthorPartial.cshtml" model="new CreateAuthorVM()"></partial>

