@model List<ResultCarWithBrandsVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4>Araba Listesi</h4>
                    <button asp-area="Admin"
                            asp-controller="Car"
                            asp-action="CreateCarPartial"
                            type="button"
                            class="btn btn-primary waves-effect waves-light mb-2"
                            data-toggle="modal"
                            data-target="#exampleModalCenter">
                        <i class="mdi mdi-plus"></i>
                        Yeni Araç Oluştur
                    </button>
                </div>

                <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>Marka</th>
                            <th>Model</th>
                            <th>Vites Türü</th>
                            <th>Km</th>
                            <th>Yakıt Türü</th>
                            <th>Seçenekler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in Model)
                        {
                            <tr>
                                <td>@car.BrandName</td>
                                <td>@car.Model</td>
                                <td>@car.Transmission</td>
                                <td>@car.Km</td>
                                <td>@car.Fuel</td>
                                <td>
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <a asp-action="CarDetail" asp-route-id="@car.CarId" type="button" class="btn btn-outline-dark waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Detayları Gör">
                                            <i class="mdi mdi-format-list-bulleted"></i>
                                        </a>
                                        <a asp-action="UpdateCar" asp-route-id="@car.CarId" type="button" class="btn btn-outline-warning waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Aracı Güncelle">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <a asp-action="RemoveCar" asp-route-id="@car.CarId" type="button" class="btn btn-outline-danger waves-effect waves-light" data-toggle="tooltip" data-placement="bottom" title="Aracı Sil">
                                            <i class="mdi mdi-delete-outline"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="~/Areas/Admin/Views/Car/CreateCarPartial.cshtml" model="new CreateCarVM()"></partial>