@model UpdateCarVM

@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Araç Güncelleme</h4>
                <hr />
                <form action="UpdateCar" method="post">
                    <input type="hidden" asp-for="CarId"/>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="@Model.BrandId">Marka</label>
                            <select class="form-control" asp-for="@Model.BrandId" asp-items="@ViewBag.Brands">
                                <option value="" disabled selected>Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-group col-6">
                            <label for="@Model.Model">Model</label>
                            <input asp-for="@Model.Model" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="@Model.Km">KM</label>
                            <input asp-for="@Model.Km" type="number" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="@Model.Transmission">Vites Tipi</label>
                            <input asp-for="@Model.Transmission" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="@Model.Fuel">Yakıt Tipi</label>
                            <input asp-for="@Model.Fuel" type="text" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="@Model.Seat">Koltuk Sayısı</label>
                            <input asp-for="@Model.Seat" type="number" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="@Model.Luggage">Bagaj</label>
                            <input asp-for="@Model.Luggage" type="number" class="form-control">
                        </div>
                        <div class="form-group col-6">
                            <label for="@Model.BigImageUrl">Resim</label>
                            <input asp-for="@Model.BigImageUrl" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6">
                            <label for="@Model.CoverImagerUrl">Kapak Resmi</label>
                            <input asp-for="@Model.CoverImagerUrl" type="text" class="form-control">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary waves-effect waves-light col-2">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>